@import "tailwindcss";
body{
  font-family: 'Poppins', sans-serif;
}
h1,h1.p{
  font-family: "Roboto", sans-serif;
}
.gradient{
  background: linear-gradient(-45deg,#302b63,#00bf8f,#1cd8d2);
}
.img{
  animation-name: move;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes move{
 from{
  top:10px;
  left:10px;
 }
  to{
    top:40px;
    left:40px;
  }
}